body
{
    text-align: center;
    background-image: url(https://www.baltana.com/files/wallpapers-16/Numbers-4K-Wallpaper-41936.jpg);
    font-family: "Montserrat",sans-serif;
}

.btn
{
    display: inline-block;
    text-align: center;
    margin: 0.2rem;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding-top: 1.05rem;
    font-size: 150%;
    color: white;    
}
.row
{
    text-align: center;
    width: 25%;
    margin: 0%;
}
.calculator
{
    margin: 10px 0;
    display: inline-block;
    background-color:black;
    padding: 0.5rem;
    border-radius: 15px;
    width: 340px;
    height: 540px;   
    background: linear-gradient(135deg, rgb(43,43,43) -1%,rgb(76,76,76) 0%,rgb(43,43,43) 0%,rgb(43,43,43) 4%,rgb(44,44,44) 50%,rgb(17,17,17) 60%,rgb(102,102,102) 77%,rgb(102,102,102) 77%,rgb(102,102,102) 80%,rgb(102,102,102) 80%,rgb(28,28,28) 91%,rgb(0,0,0) 100%,rgb(19,19,19) 100%,rgb(0,0,0) 101%);
    
}
.display
{
    border: 3px solid black;
    width: 100%;
    height: 100px;
    margin: 5px 0px 20px 0;
    border-radius: 10px;
    font-size: 52px;
    text-align: end;
    padding: 0.4rem;
    font-family: 'Rubik', sans-serif;
    color: white;
    background: linear-gradient(135deg, rgba(89,106,114,1) 0%,rgba(89,106,114,1) 12%,rgba(89,106,114,1) 12%,rgba(206,220,231,1) 58%,rgba(89,106,114,1) 98%,rgba(89,106,114,1) 98%,rgba(89,106,114,1) 98%);}
.equal
{
    background-color: red; 
    background: linear-gradient(135deg, rgb(207,4,4) 0%,rgb(255,48,25) 100%);
}
.operation
{
    background: linear-gradient(135deg, rgb(255,123,13) 0%,rgb(255,168,76) 100%);
}
 
 